/* variáveis */
:root {
--fonte-padrao:'VT323', monospace;;
--background-color: #0177CC;
--cor-tabela: #66F2C9;
--cor-titulo: #fba42f;
--cor-rosinha: #DA424C;
}
/* variáveis */
/* seletores nat */
body {
    background-image: url("./background-image.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

span {
    margin: 0 auto;
}

p {
    margin: 0;
}

@keyframes loading {
    from {
        transform: rotate(0);
    }
    
    to {
        transform: rotate(360deg);
    }
}

@keyframes growing {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

.hidden {
    visibility: hidden;
}

.display{
    display: none;
}

/* seletores nat */
/* top */
.top {
    height: 100px;
    font-family: var(--fonte-padrao);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--cor-titulo);
    font-size: 2rem;
}

/* top */

/* main */
div.flex-col div {
    height: 40px;
    width: 40px;
    border-bottom:var(--cor-tabela) groove 3px;
    background-color: rgb(0 0 0 / 90%);

}
.box-game {
    display: flex;
    justify-content: center;
}

.flex-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 258px;
    width: 40px;
    border: 3px var(--cor-tabela) groove ;
}



div.flex-col div div.playerOne {
    margin: 0px auto;
    height:40px;
    width: 40px;
    background-image: url("esphere.png");
    border-radius: 100%;
    border-bottom: none;
    background-size: cover;
}

div.flex-col div div.playerTwo {
    margin: 0px auto;
    height:40px;
    width: 40px;
    background-image: url("esphere2.png");
    border-radius: 100%;
    border-bottom: none;
    background-size: cover;
}

.spinning {
    animation: loading 2s linear infinite;
}

.growing {
    animation: growing 200ms linear;
    transition: all 200ms ease-in-out;
}

.middle {
    height: 100px;
}

.currentPlayer {
    font-family: var(--fonte-padrao);
    color: lawngreen;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

div.playerOne {
    height:70px;
    width: 70px;
    background-image: url("esphere.png");
    border-radius: 100%;
    border-bottom: none;
    background-size: cover;
}

div.playerTwo {
    height:70px;
    width: 70px;
    background-image: url("esphere2.png");
    border-radius: 100%;
    border-bottom: none;
    background-size: cover;
}

.victory-message {
    background-color: rgb(0 0 0 / 90%);
    color: lawngreen;
    border: #020414 solid;
    bottom: 265px;
    position: absolute;
    z-index: 1;
    margin: 0 auto;
    font-family: var(--fonte-padrao);
    font-size: 2rem;
    width: 227px;
    height: 177px;
    display: flex;
    justify-content: center;
}

.draw-message {
    background-color: rgb(0 0 0 / 90%);
    color: lawngreen;
    border: #020414 solid;
    bottom: 265px;
    position: absolute;
    z-index: 1;
    margin: 0 auto;
    font-family: var(--fonte-padrao);
    font-size: 2rem;
    width: 227px;
    height: 177px;
    display: flex;
    justify-content: center;
}

.instructions-box {
    width: 300px;
    margin: 0 auto;
    border: #020414 solid;
    position: absolute;
    color: lawngreen;
    background-color: rgb(0 0 0 / 90%);
    bottom: 265px;
    height: 208px;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    font-family: var(--fonte-padrao);
    font-size: 1.1rem;
    padding: 3px;
}

/* main */
/* footer */
.foot {
    display: flex;
    justify-content: space-around;

}

button {
    background-image: linear-gradient(360deg, yellow, var(--cor-rosinha));
    border: none;
    width: 150px;
    height: 50px;
    border-radius: 20px;
    font-family: var(--fonte-padrao);
    font-size: 1.7rem;
    color: #020414;
    font-variant: small-caps;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-image: linear-gradient(180deg, yellow, var(--cor-rosinha));
    box-shadow: 0 0.5em 0.5em -0.4em black;
    transform: translateY(-0.25em);
    transition: all ease-in-out 200ms;
}

button:focus {
    box-shadow: 0 0.5em 0.5em -0.4em black;
    transform: translateY(-0.25em);
    transition: all ease-in-out 200ms;
}
#victory-message,  #draw-message{
    width: 100%;
    max-width: 425px;
    box-sizing: border-box;
    margin: 0 auto;
    border: 1px #020414 solid;
    position: absolute;
    color: lawngreen;
    background-color: rgb(0 0 0 / 95%);
    top: 125px;
    height: 215px;
    text-align: center;
    font-family: var(--fonte-padrao);
    font-size: 1.1rem;
    padding: 3px;
}


#victory-message div.playerOne{
    margin: 0 auto;
}

#draw-message h1{
    font-size: 4rem;
}


#victory-message div.playerTwo{
    margin: 0 auto;
}


/* footer */
/* media query */
@media (min-width: 420px) {
  body {
      background-image: url("background-desktop.jpg");
  }  
}
@media (min-width: 680px) {

    /* seletor nat */
    body {
        background-image: url("background-desktop2.jpg");
    }

    h1 {
        font-size: 7rem;
    }

    .flex-col {
        width: 68px;
        height: 438px;
    }

    div.flex-col div {
        height: 73.1px;
        width: 68px;
    }

    div.flex-col div div.playerOne {
        height: 68px;
        width: 68px;
    }

    div.flex-col div div.playerTwo {
        height: 68px;
        width: 68px;
    }

    .middle {
        height: 20px;
    }

    .instructions-box {
        height: 300px;
        width: 623px;
        position: absolute;
        left: 0;
        top: 165px;
    }

    .foot {
        width: 600px;
        margin: 50px auto 0;

    }

    .button {
        width: 181px;
        height: 88px;
        font-size: 2.4rem;
    }

    #victory-message,  #draw-message{
        
        margin: 0 auto;
        border: #020414 solid;
        
        color: lawngreen;
        background-color: rgb(0 0 0 / 95%);
        bottom: 265px;
       
        
    
        top: 165px;
     
        text-align: center;
        font-family: var(--fonte-padrao);
        font-size: 1.1rem;
        padding: 3px;

        height: 300px;
        max-width: 623px;
        position: absolute;
       
    }

    #victory-message h1{
        font-size: 4rem;
    }
    #draw-message h1{
        font-size: 7rem;
    }
 
    /* seletor nat */
}

/* media query */